.brush {
  width: 100px;
  height: 100px;
  background-color: azure;
}

.preview {
  width: 100px;
  height: 100px;
  /* background-color: #ccc; */
}

.square {
  width: 20px;
  height: 20px;
  background-color: #ccc;
  display: inline-block;
  padding: 10px;
  margin: 10px;
}

.paint-tool {
  display: inline-block;
}

.stamp-tool {
  display: inline-block;
}
